<body>
<div class="table">
    <div class="card">
        <div class="card-title">Задание 1</div>
        <div class="card-content">Свечной график изменения цены биткоина</div>
        <img src="https://static3.banki.ru/ugc/94/51/8d/24/10971511.jpg" alt="Image 1">
        <a href="">View Case</a>
    </div>
    <div class="card">
        <div class="card-title">Card 2</div>
        <div class="card-content">Content of the second card.</div>
    </div>
    <div class="card">
        <div class="card-title">Card 3</div>
        <div class="card-content">Content of the third card.</div>
    </div>
    <div class="card">
        <div class="card-title">Card 4</div>
        <div class="card-content">Content of the fourth card.</div>
    </div>
    <div class="card">
        <div class="card-title">Задание 5</div>
        <div class="card-content">Конструктор завтрака</div>
        <img src="https://i07.fotocdn.net/s214/ef1b8aa5d83866b4/public_pin_l/2862008261.jpg" alt="Image 2">
    </div>
    <div class="card">
        <div class="card-title">Card 6</div>
        <div class="card-content">Content of the sixth card.</div>
    </div>
</div>
</body>