<div id="main" class="flex min-h-screen min-w-full overflow-hidden bg-cover">
    <div class="bg-sky-50 rounded-r-md w-1/10 min-h-screen flex flex-col justify-start">
        <div class="h-1/6 flex flex-col items-center pt-1.5">
            <img src="../assets/images/icons64.png"/>
        </div>
        <div class="h-4/6 flex flex-col justify-evenly items-center">
            <div style="transform: rotate(-90deg);" class="pages">Главная</div>
            <div style="transform: rotate(-90deg);" class="pages">Кейсы</div>
            <div style="transform: rotate(-90deg);" class="pages">О нас</div>
            <div style="transform: rotate(-90deg);" class="pages">Ваши идеи</div>
        </div>
        <div class="flex flex-col h-1/6 justify-evenly items-center">
            <i class="pi pi-instagram"></i>
            <i class="pi pi-telegram"></i>
            <i class="pi pi-share-alt"></i>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
